* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Content", sans-serif;
}

a {
    color: #ffffff;
    text-decoration: none;
}

body {
    list-style: none;
}

.macu_lindo {
    list-style: none;
    display: flex;
}

#menu {
    background-image: linear-gradient(to bottom, #000000, #2E2E2E, #5D5D5D);
    width: 100%;
    height: 70px;
    z-index: -9;
}

#Ubis {
    font-size: 45px;
    color: white;
    font-weight: bold;
    margin-left: 8%;
}

#red {
    background: -webkit-linear-gradient(#B14B4B, #E46060, #7E3535);
    background-clip: text;
    color: transparent;
}

#pesquisa {
    background-color: linear-gradient(#B14B4B, #E46060, #7E3535);
    width: 368px;
    height: 32px;
    z-index: 99;
    margin-left: 47%;
    margin-top: 20px;
}

#pesquisa input {
    background-image: linear-gradient(#B14B4B, #E46060, #7E3535);
    width: 368px;
    border-radius: 10px;
}

input::placeholder {
    color: #ffffff;
}

#bola_esquerda {
    border-radius: 100%;
    background-image: linear-gradient(#B14B4B, #E46060, #7E3535);
    width: 41px;
    height: 41px;
    margin-right: 15px;
    margin-left: 3%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

#bola_direita {
    border-radius: 100%;
    background-image: linear-gradient(#B14B4B, #E46060, #7E3535);
    width: 41px;
    height: 41px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

#lupa {
    height: 20px;
    width: 20px;
    position: relative;
    top: 27px;
    right: 30px;
    z-index: 999;
}

.Minhas_Bolas {
    margin-top: 6px;
}

/*---------------------- Fundo Preto ------------------------*/

#abaixo-menu {
    height: 1650px;
    width: 100%;
    background-image: linear-gradient(to bottom, #5D5D5D, #2E2E2E, #000000);
    z-index: -9;
    overflow: hidden;
}

/*---------------------- dentro do fundo preto ------------------------*/

#meus {
    width: 1700px;
    height: 132px;
    background-image: linear-gradient(#B14B4B, #E46060, #7E3535);
    display: flex;
    margin-top: 5%;
    margin: auto;
    margin-top: 5%;
}

#pedidos {
    font-size: 50px;
    font-weight: bold;
    font-family: "Content", sans-serif;
    color: white;

    margin-left: 50px;
    stroke: #000000 100%;
    margin-top: 20px;
}

/*---------------------- dentro do fundo preto ------------------------*/

#conteiner {
    display: flex;
    margin-left: 102px;
    flex-direction: column;
}


#jogos {
    background-color: #4B0202;
    opacity: 60%;
    height: 260px;
    width: 750px;
    display: flex;
    flex-direction: row;
    padding: 22.5px;
    margin-top: 5%;
}

#jogos2 {
    background-color: #4B0202;
    opacity: 60%;
    height: 260px;
    width: 750px;
    display: flex;
    flex-direction: row;
    padding: 22.5px;

}

.tl1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: cover;

}

#last {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-top: 50px;
    margin-left: 30px;
}

#elden {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-top: 80px;
    margin-left: 30px;
}


.preco {
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin-left: 200px;
    margin-top: 65px;
}

.eco {
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin-left: 240px;
    margin-top: 75px;
}

hr {
    opacity: 30%;
}

/*---------------------- dentro do fundo preto / final ------------------------*/

#Final {
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-top: 10%;
}


#Titulo_ubis {
    font-size: 22px;
    font-family: "Content", sans-serif;
    color: white;
    font-weight: bold;
}

.subtexto {
    font-size: 15px;
    font-family: "Content", sans-serif;
    color: white;
}

.Sub_titulos {
    font-size: 22px;
    font-family: "Content", sans-serif;
    color: white;
    font-weight: bold;
}

#t3img {
    margin-top: 20px;
    margin-left: 0px;
    display: flex;
    gap: 65px;

}