* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Content", sans-serif;
}

a {
    color: #ffffff;
    text-decoration: none;
}

body {
    list-style: none;
}

.macu_lindo {
    list-style: none;
    display: flex;
}

#menu {
    background-image: linear-gradient(to bottom, #000000, #2E2E2E, #5D5D5D);
    width: 100%;
    height: 90px;
    z-index: -9;
}

#Ubis {
    font-size: 45px;
    color: white;
    font-weight: bold;
    margin-left: 8%;
}

#red {
    background: -webkit-linear-gradient(#B14B4B, #E46060, #7E3535);
    background-clip: text;
    color: transparent;
}

#pesquisa {
    background-color: linear-gradient(#B14B4B, #E46060, #7E3535);
    width: 368px;
    height: 32px;
    z-index: 99;
    margin-left: 47%;
    margin-top: 20px;
}

#pesquisa input {
    background-image: linear-gradient(#B14B4B, #E46060, #7E3535);
    width: 368px;
    border-radius: 10px;
}

input::placeholder {
    color: #ffffff;
}

#bola_esquerda {
    border-radius: 100%;
    background-image: linear-gradient(#B14B4B, #E46060, #7E3535);
    width: 41px;
    height: 41px;
    margin-right: 15px;
    margin-left: 3%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

#bola_direita {
    border-radius: 100%;
    background-image: linear-gradient(#B14B4B, #E46060, #7E3535);
    width: 41px;
    height: 41px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.Minhas_Bolas {
    margin-top: 6px;
}

#lupa {
    height: 20px;
    width: 20px;
    position: relative;
    top: 27px;
    right: 30px;
    z-index: 999;
}

/*---------------------- Fundo Preto ------------------------*/

#fundo_preto {
    height: 200vh;
    width: 100%;
    background-image: linear-gradient(to bottom, #5D5D5D, #2E2E2E, #000000);
    z-index: -9;
    display: flex;

}

#cuadrado {
    height: 90px;
    width: 900px;
    background-image: linear-gradient(#B14B4B, #E46060, #7E3535);
    margin: 90px;
}

#resultados {
    font-size: 45px;
    color: white;
    margin-left: 40px;
    font-family: "Content", sans-serif;
    font-weight: bold;
}

.cuzu {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#B14B4B, #E46060, #7E3535);
    height: 540px;
    width: 450px;
    margin-top: 60px;
    margin-left: 100px;
}

#qadrado_tlau {
    background-image: linear-gradient(#B14B4B, #E46060, #7E3535);
    height: 340px;
    width: 250px;
    margin-left: 40vh;
    display: flex;
    flex-direction: column;
    border-radius: 75px;
}

.tlau {
    text-align-last: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#qadrado_tlau2 {
    border-radius: 75px;
    display: flex;
    flex-direction: column;
    height: 340px;
    width: 250px;
    background-image: linear-gradient(#B14B4B, #E46060, #7E3535);
    margin-left: 70vh;
    margin-top: -35.5vh;
}


/*---------------------- retangulo com jogos ------------------------*/

#quadrado_com_jogos {
    width: 1750px;
    height: 375px;
    background-image: linear-gradient(to bottom, #000000, #2E2E2E, #5D5D5D, #000000);
    margin-left: 4%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#quadrado_em_cima_de_outro_quadrado {
    width: 30%;
    height: 50px;
    background-color: #000000;
    clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
    margin: auto;
    margin-top: 5%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: 600;
}

#destqe {
    color: white;

}

.imgs {
    object-fit: cover;
    margin: auto;
    margin-top: 37px;
}

/*---------------------- Final do site ------------------------*/

#Final {
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-top: 10%;
}


#Titulo_ubis {
    font-size: 22px;
    font-family: "Content", sans-serif;
    color: white;
    font-weight: bold;
}

.subtexto {
    font-size: 15px;
    font-family: "Content", sans-serif;
    color: white;
}

.Sub_titulos {
    font-size: 22px;
    font-family: "Content", sans-serif;
    color: white;
    font-weight: bold;
}

#t3img {
    margin-top: 20px;
    margin-left: 0px;
    display: flex;
    gap: 65px;

}